/* GENERAL STYLING */

* {
  box-sizing: border-box;
}

header, footer, .intro {
  text-align: center;
}

main, footer {
  width: 95%;
  margin: 0 auto;
}



/* HEADER STYLING */

h1 {
  text-transform: uppercase;
  background-color: black;
  color: white;
  margin-top: 0;
}

.intro {
  border-bottom: 5px solid black;
  margin-bottom: 3px;
}



/* FORM STYLING */

.hr {
  border-top: 3px solid black;
}

fieldset {
  border: none;
}

.contact-container,
.contact-info {
  display: flex;
  flex-direction: column;
  padding: 0;
}

#zip {
  margin-bottom: 2em;
}



/* FOOTER STYLING */

footer span {
  padding-bottom: 10rem;
}
