/* GENERAL STYLING */

* {
  box-sizing: border-box;
  background-color: lightgrey;
  font-family: 'Merriweather', serif;
  font-size: .85rem;
}

header, footer, .intro {
  text-align: center;
}

main, footer {
  width: 95%;
  margin: 0 auto;
}



/* HEADER STYLING */

h1 {
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  padding: 1.5rem;
  margin-top: 0;
}

h2 {
  font-size: 1.2rem;
}

.intro {
  border-bottom: 5px solid black;
  padding: 1.5rem 0;
  margin-bottom: 3px;
}



/* FORM STYLING */

input, textarea, select {
  background-color: WhiteSmoke;
  padding: .5em;
  border-radius: 10px;
  text-align: left;
}

input[placeholder] {
  text-align: right;
  font-style: italic;
}

h3 {
  font-size: 1.3rem;
}

fieldset {
  border: none;
  padding: 0;
}

.contact-container,
.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info {
  margin: 1rem 0;
}

.hr {
  border-top: 3px solid black;
  margin-bottom: 1.2rem;
}

.hr:nth-of-type(2) {
  margin-top: 1rem;
}


#zip {
  width: 50%;
  }

label {
  margin: 1rem 0.5rem 1rem 0;
}

.newsletter-container label {
  display: inline-block;
}

.newsletter-container label,
input[type="checkbox"],
input[type="radio"],
textarea {
  margin: 1rem 0;
}

textarea, button {
  width: 100%;
}

textarea {
  height: 8rem;
}

:focus {
  background-color: #fff0a2;
  transition-duration: 2s;
}

button {
  background-color: MediumTurquoise;
  color: white;
  font-size: 1.4rem;
  padding: 1.2rem;
  border-radius: 10px;
  margin: 1rem 0 2rem 0;
}

button:hover {
  background-color: #3aaba6;
  transform: scale(1.05);
  cursor: pointer;
  transition: 1s;
}


/* FOOTER STYLING */

footer span {
  padding-bottom: 10rem;
}



/* MEDIA QUERIES */

@media screen and (min-width: 768px) {

  h2 {
    font-size: 1.6rem;
  }

  main {
    width: 55%;
  }

  .contact-info {
    flex-direction: row;
    align-items: center;
  }

  .contact-info label {
    width: 25%;
  }

  .contact-info input, select, .zip-container {
    width: 75%;
  }

  #zip {
    width:35%;
  }


}
