/* GENERAL STYLING */

* {
  box-sizing: border-box;
}

header, footer, .intro {
  text-align: center;
}

main {
  width: 100%;
  margin: 0 auto;
}

fieldset {
  border: none;
}


/* HEADER STYLING */

h1 {
  text-transform: uppercase;
  background-color: black;
  color: white;
  margin-top: 0;
}


.intro {
  border-bottom: 5px solid black;
  margin-bottom: 3px;
}

main, footer {
  width: 95%;
  margin: 0 auto;
}

legend {
  width: 100%;
  border-top: 3px solid black;
}


fieldset,
.contact-info {
  display: flex;
  flex-direction: column;
}
